<label class="{{message.room}}">
  <span class="msg-timestamp">[{{format-time message.timestamp}}]</span>
  <span class="msg-who">
      {{message.speaker}}@{{message.room.name}}$
  </span>
  <span class="msg-content">
    {{message.message}}
  </span>

</label>
